<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>chat ScreenShot Classifier</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<div id="header">
		<h1>Chat Screen-Shot Classification Using <span>CNN</span></h1>
	</div>
	<div class="all">
		<label for="image" class="btn1 b2">UPLOAD</label>
	  	<input id="image" style="visibility:hidden; width: 0" type="file" accept="image/png, image/jpeg">
	  	<button class="btn1 b2" id="pred-btn">PREDICT</button>
	  	<div class="pic"><img style="border:5px solid;" id="display-img" src="{{url_for("static", filename="upload.jpg")}}"/></div>
	  	<p><h3>I think it's</h3> <span id="prediction-img" class="pred">...</span></p>
	  	<div class="ins" style="background-color: #f7113b;">Upload any <em>.png or .jpg image</em>...and wait for 10 sec. This CNN model will tell you if the image is a chat screen-shot or a normal image!</div>
	</div>


  	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  	<script>
  		var base64Image;
		$("#image").change(function() {
			var reader = new FileReader();
			reader.onload = function(e){
				var dataURL = reader.result;
				$("#display-img").attr("src",dataURL);
				if(dataURL.substr(11, 3)==="png"){
					base64Image = dataURL.replace("data:image/png;base64,","");
				}
				else{
					base64Image = dataURL.replace("data:image/jpeg;base64,","");
				}
				console.log(base64Image);
			}
			reader.readAsDataURL($("#image")[0].files[0]);
			$("#prediction-img").text("...");
		})

		$("#pred-btn").click(function(event){
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		 	var message = {
		 		image : base64Image
		 	}
		 	console.log(message);
		 	console.log("YES");
		 	$.post("https://screen-shot-classifier.herokuapp.com/predict-image/", JSON.stringify(message), function(response){
		 		$("#prediction-img").text(response.predictionImg);

		 	})
		 })
  		
  	</script>
</body>
</html>